# Metadata
.metadata/

# Backup files
*~
*.bak

# The Margrave log file andcompiled Racket sources
margrave/bin/edu/wpi/margrave/margrave-log.txt
margrave/compiled/
compiled/

# Copies of .class files and .jar files for development ONLY
racket/lib
java/bin

# We DO want java/lib in the repo. It contains kodkod.jar, etc.

# The IOS examples for LISA10 compiled IOS to .p/.v, but
# the compilation is part of the example. Only include the
# IOS source in git.
old/LISA10/IOS-simple/initial/*.p
old/LISA10/IOS-simple/initial/*.v
old/LISA10/IOS-simple/change1/*.p
old/LISA10/IOS-simple/change1/*.v
old/LISA10/IOS-simple/change2/*.p
old/LISA10/IOS-simple/change2/*.v
old/LISA10/IOS-simple/network/*.p
old/LISA10/IOS-simple/network/*.v
old/LISA10/IOS-example1/config/*.p
old/LISA10/IOS-example1/config/*.v
old/LISA10/IOS-example1/config-ack/*.p
old/LISA10/IOS-example1/config-ack/*.v
old/LISA10/IOS-example1/config-reflexive/*.p
old/LISA10/IOS-example1/config-reflexive/*.v
old/LISA10/IOS-example1/config-revised/*.p
old/LISA10/IOS-example1/config-revised/*.v
old/LISA10/IOS-example2/config/*.p
old/LISA10/IOS-example2/config/*.v
old/LISA10/IOS-example2/revised/*.p
old/LISA10/IOS-example2/revised/*.v
old/LISA10/IOS-example2/revised-address/*.p
old/LISA10/IOS-example2/revised-address/*.v
racket/examples/policies/ios-demo/initial/*.p
racket/examples/policies/ios-demo/initial/*.v

# Temporary folder for creating distributions
build-temp/
